.inputbox {
  display: flex;
  position: relative;
  align-items: center;
}

input {
  width: 320px;
  padding: 6px 12px;
  border: 0;
  background-color: var(--thin-white);
  border-radius: 8px;
  height: 45px;
}

input:focus {
  outline: 0;
}

input::placeholder {
  color: var(--orange);
}

.send-btn {
  border: 0;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: .4s;
}

.send-btn:hover {
  transform: translateX(30%);
  color: var(--orange);
}