<div class="card">
  <div class="user-info">
    <img src="../../assets/profilephoto.jpg" alt="">
    <div class="text-info">
      <span class="user-name">Lucas Fortunato</span>
      <span class="forum-name">r/aqui</span>
    </div>
  </div>
  <div class="content-container">
    <div class="likes-box">
        <button class="arrow-btn up-animation" onClick="changeLikes()">
          <fa-icon class="ico green" [icon]="arrowUp"></fa-icon>
        </button>
        <p [(ngModel)]="Likes" class="like-count">0</p>
        <button class="arrow-btn down-animation" onclick="changeLikes()">
          <fa-icon class="ico red" [icon]="arrowDown"></fa-icon>
        </button>
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet. Non perspiciatis commodi 33 saepe error aut beatae nihil aut praesentium cupiditate ad odio dicta. Qui assumenda labore quo dolorem ducimus nam voluptatibus laboriosam ex neque beatae qui sunt esse vel nulla excepturi. Eos esse voluptatem ad nulla dolores eos consequuntur odio non velit repellendus. Est beatae itaque ut facere esse aut veritatis fugiat sit provident incidunt qui aspernatur odit?
    </div>
  </div>
  <div class="btn">
    <button class="comments-button" (click)="toggleComments()">
      comentários
    </button>
  </div>
  <div class="comment-container" [ngClass]="{ 'show': showComments }" *ngIf="showComments">
    <div class="afterline bigger"></div>
    <div class="leave-comment">
      <textarea id="" [(ngModel)]="newComment" onchange="changeComment()"></textarea>
      <button class="comment-btn" onclick="comment()">Comentar</button>
    </div>
    <div class="comment-box">
      <app-comment></app-comment>
      <app-comment></app-comment>
    </div>
  </div>
</div>