.favorites-container {
  max-width: 100vw;
  min-height: 93vh;
  max-height: max-content;
  background-color: var(--thin-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.myfavorites {
  margin-top: 2%;
  letter-spacing: 3px;
}

.myfavorites h1 {
  font-weight: 400;
  font-size: 1.875rem;
}

.forums-box {
  padding-top: 1%;
  margin-top: 1%;
  width: 80%;
  min-height: 70vh;
  max-height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding-bottom: 2%;
  overflow-x: hidden;
}
