<app-header></app-header>
<section class="feed-section">
  <div class="feed-container">
    <div class="info-side">
      <div class="profile-card">
        <div class="photo-div">
          <img src="../../assets/profilephoto.jpg" alt="">
          <span class="name">Lucas Fortunato</span>
        </div>
        <div class="afterline"></div>
        <button class="edit-btn">editar perfil</button>
      </div>
    </div>
    <div class="card-side">
      <div class="card">
        <div class="user-info">
          <img src="../../assets/profilephoto.jpg" alt="">
          <div class="text-info">
            <span class="user-name">Lucas Fortunato</span>
            <span class="forum-name">r/aqui</span>
          </div>
        </div>
        <div class="content-container">
          <div class="likes-box">
              <fa-icon class="ico" [icon]="arrowUp"></fa-icon>
              <p>0</p>
              <fa-icon class="ico" [icon]="arrowDown"></fa-icon>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet. Non perspiciatis commodi 33 saepe error aut beatae nihil aut praesentium cupiditate ad odio dicta. Qui assumenda labore quo dolorem ducimus nam voluptatibus laboriosam ex neque beatae qui sunt esse vel nulla excepturi. Eos esse voluptatem ad nulla dolores eos consequuntur odio non velit repellendus. Est beatae itaque ut facere esse aut veritatis fugiat sit provident incidunt qui aspernatur odit?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
