<app-header></app-header>
<section class="feed-section">
  <div class="feed-container">
    <div class="info-side">
      <div class="profile-card">
        <div class="photo-div">
          <img src="{{image}}" alt="">
          <span class="name">{{user?.username}}</span>
        </div>
        <div class="afterline"></div>
        <button class="edit-btn">editar perfil</button>
      </div>
      <div class="favorites-card" id="teste">
        <p>
          <fa-icon [icon]="star"/>
        </p>
        <div class="favorites-box">
          <div class="empty" *ngIf="emptyFavorites">
            sem favoritos no momento!
          </div>
          <app-fav-forum *ngFor="let favorite of favorites"
            [id]="favorite.id" 
            [title]="favorite.title" 
            [photo]="favorite.photo"
          ></app-fav-forum>
        </div>
      </div>
    </div>
    <div class="card-side">
      <app-post 
        *ngFor="let post of posts"
        [forumName]="post.forumName"
        [image]="post.photo"
        [likes]="post.likes"
        [content]="post.content"
        [name]="post.authorName"
      ></app-post>
    </div>
  </div>
</section>