<div class="container">
  <div class="header-box">
    <div class="search-box">
      <app-search-box />
    </div>
    <div class="logo">
      <a href="/feed">
        <img src="../../assets/litetruelogo.png" alt="">
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/favorites">fóruns</a>
        </li>
        <li>
          <a href="/myforums">Meus Fóruns</a>
        </li>
        <li>
          <a (click)="logoff()"><fa-icon class="ico" [icon]="icon"></fa-icon></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="afterline"></div>