<app-header></app-header>
<section class="favorites-container">
  <div class="myfavorites">
    <h1>meus fóruns</h1>
  </div>
  <div class="forums-box">
    <div class="no-forums" *ngIf="isEmpty">
      <img src="../../assets/notfound.png" alt="">
      <p><span class="thin">Você ainda não tem fóruns criados.</span><br><span class="bold">Comece criando um!</span></p>
    </div>
    <app-forum-card *ngFor="let forum of myforums" 
      [id]="forum.id" 
      [title]="forum.title" 
      [image]="forum.photo">
    </app-forum-card>
    
  </div>
  <div class="newforum-box">
    <button class="newforum-btn" (click)="modal.toggle()"><fa-icon [icon]="plus"/></button>
    <app-modal #modal>
      <div class="modal-container">
        <h3>novo fórum</h3>
        <div class="inputs">
          <app-forum-uploader (onUploadFinished)="handleFileUpload($event)"></app-forum-uploader>
          <input type="text" name="name" id="" placeholder="Nome" [(ngModel)]="title"/>
          <textarea placeholder="Descrição" [(ngModel)]="description"></textarea>
          <button class="submit-btn" (click)="createForum()">criar</button>
        </div>
      </div>
    </app-modal>
  </div>
</section>
