<app-header></app-header>
<section class="favorites-container">
  <div class="myfavorites">
    <h1>meus fóruns</h1>
  </div>
  <div class="forums-box">
    <app-forum-card></app-forum-card>
    <app-forum-card></app-forum-card>
    <app-forum-card></app-forum-card>
    <app-forum-card></app-forum-card>
    
  </div>
  <div class="newforum-box">
    <button class="newforum-btn" (click)="modal.toggle()"><fa-icon [icon]="plus"/></button>
    <app-modal #modal>
      <div class="modal-container">
        <h3>novo fórum</h3>
        <div class="inputs">
          <label for="photo">Selecione uma foto</label>
          <input type="file" name="photo" id="photo" accept="">
          <input type="text" name="name" id="" placeholder="Nome"/>
          <textarea placeholder="Descrição"></textarea>
          <button class="submit-btn">criar</button>
        </div>
      </div>
    </app-modal>
  </div>
</section>
