.password-div {
  position: fixed;
  display: flex;
  align-items: center;
}

.password-div input {
  border: 0;
  width: 280px;
  font-size: 1rem;
  padding: 12px;
  background-color: var(--thin-white);
  transition: .3s;
  border-radius: 12px;
}

.password-div input:hover {
  background-color: var(--white);
}

.password-div input:focus {
  background-color: var(--white);
  outline: 0;
}

.pass-eyes {
  position: absolute;
  right: 8px;
  border: 0;
  background-color: transparent;
  color: #555;
  cursor: pointer;
}