.container {
  background-color: var(--thin-white);
  max-width: 100vw;
  min-height: 93.94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.box {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px); /* Efeito de vidro */
  width: 85%;
  height: 85vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-left: 50px;
  border-radius: 12px;
}

.mid-side {
  padding-top: 20px;
  overflow-y: auto;
  width: 45%;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--thin-white);
}

.posts {
  width: 95%;
  align-items: center;
  height: 98%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.new-post {
  border-radius: 8px;
  width: 100%;
  min-height: 250px;
  background-color: var(--white);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.new-post textarea {
  width: 80%;
  border: 0;
  background-color: #eee;
  height: 10vh;
  border-radius: 12px;
  text-overflow:  ellipsis;
  text-align: start;
  padding: 8px;
  resize: none;
}

.new-post textarea:focus {
  outline: 0;
}

.comment-btn {
  width: 20%;
  border: 0;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--green);
  cursor: pointer;
  transition: .5s;
  font-size: 0.95rem;
}

.comment-btn:hover {
  filter: brightness(1.1);
}

.right-side {
  width: 20%;
  height: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

.follow-box {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-box p {
  color: var(--orange);
  font-size: 2rem;
}

.follow-box button {
  width: 50%;
  border: 0;
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 8px;
  background-color: var(--green);
  cursor: pointer;
  transition: .5s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.follow-box button:hover {
  filter: brightness(1.1);
}

.members {
  border-radius: 16px;
  background-color: var(--thin-white);
  width: 100%;
  height: 80%;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.members p {
  font-size: 1.5rem;
}

.member {
  display: flex;
  width: 90%;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
}

.member p {
  font-size: 1.2rem;
}

.member img {
  border-radius: 99px;
  width: 60px;
  height: 60px;
}

.outline {
  margin-top: 6%;
  width: 15%;
  height: 2px;
  background-color: #999;
}

.more fa-icon{
  color: #777;
  font-size: 2rem;
}

.more {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--thin-white);
  padding: 16px;
  border-radius: 8px;
  width: 80%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.more-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.more-info p {
  font-size: 1.3rem;
}

.img {
  width: 180px;
  height: 180px;
  border-radius: 99px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.owner-options {
  margin-top: 2%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: var(--thin-white);
  border-radius: 8px;
  height: 50px;
  gap: 10%;
}

.owner-options button {
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}

.owner-options button:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.forum-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.name {
  font-size: 1.825rem;
}

.description {
  background-color: var(--orange);
  padding: 20px;
  display: flex;
  text-align: left;
  border-radius: 12px;
  min-height: 15vh;
  max-height: 20vh;
  width: 20vw;
  overflow-y: auto;
}

.simplebar::-webkit-scrollbar {
  width: 6px; /* Largura do scroll fino */
}

.simplebar::-webkit-scrollbar-track {
  border-radius: 16px;
  margin-top: 16px;
  background-color: transparent; /* Cor do fundo do scroll */
}

.simplebar::-webkit-scrollbar-thumb {
  background-color: var(--black); /* Cor do scroll */
  border-radius: 8px;
}