<app-header></app-header>
<section class="container">
  <div class="box">
    <div class="left-side">
      <img src="http://localhost:5241/img/{{forum.photo}}" alt="" class="img">
      <div class="forum-info">
        <p class="name">r/{{forum.title}}</p>
        <div class="description simplebar">
          <p>{{forum.description}}
          </p>
        </div>
        <div class="outline"></div>
        <div class="more">
          <div class="more-info">
            <fa-icon [icon]="calendar"></fa-icon>
            <p>{{formattedDate}}</p>
          </div>
          <div class="more-info">
            <fa-icon [icon]="user"></fa-icon>
            <p>/{{forum.owner}}</p>
          </div>
        </div>
        <div *ngIf="isOwner" class="owner-options">
          <button style="color: var(--orange)" (click)="modal.toggle()"><fa-icon [icon]="pencil"></fa-icon></button>
          <button style="color: var(--red)" (click)="deleteForum()"><fa-icon [icon]="trash"></fa-icon></button>
        </div>
      </div>
    </div>
    <div class="mid-side simplebar">
      <div class="posts">
        <div class="new-post" *ngIf="isUserFollowing">
          <h3>novo post</h3>
          <textarea id="" class="simplebar" [(ngModel)]="postContent"></textarea>
          <button class="comment-btn" (click)="sendPost()">enviar</button>
        </div>
        <app-post *ngFor="let post of posts"
          [image]="post.photo"
          [content]="post.content"
          [forumName]="post.forumName"
          [name]="post.authorName"
        ></app-post>
      </div>
    </div>
    <div class="right-side">
      <div class="members simplebar">
        <p>membros</p>
        <div class="member" *ngFor="let member of members">
          <img src="http://localhost:5241/img/{{member.photo}}" alt="">
          <p>/{{member.username}}</p>
        </div>
      </div>
      <div class="follow-box">
        <button 
          *ngIf="!isUserFollowing && !isOwner" 
          (click)="startFollowingForum()"
        >
          follow <fa-icon [icon]="heart"></fa-icon>
        </button>
        <button 
          *ngIf="isUserFollowing && !isOwner" 
          (click)="stopFollowingForum()"
        >
          unfollow <fa-icon [icon]="heartbroken"></fa-icon>
        </button>
        <p *ngIf="isOwner">Meu fórum</p>
        <button 
          (click)="favoriteForum()"
          *ngIf="!isFavorite" 
          style="font-size: 1.25rem; padding: 16px;"
        > 
          favoritar <fa-icon [icon]="star"></fa-icon>
        </button>
        <button 
          (click)="unfavoriteForum()"
          *ngIf="isFavorite" 
          style="font-size: 1.25rem; padding: 16px; width: 70%;"
        >
          desfavoritar <fa-icon [icon]="star"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<app-modal #modal>
  <div class="modal-container">
    <h3>editar fórum</h3>
    <div class="inputs">
      <app-forum-uploader (onUploadFinished)="handleFileUpload($event)"></app-forum-uploader>
      <input type="text" name="name" id="" placeholder="{{forum.title}}" [(ngModel)]="attTitle"/>
      <textarea placeholder="{{forum.description}}" [(ngModel)]="attDescription"></textarea>
      <button class="submit-btn" (click)="updateForum()">editar</button>
    </div>
  </div>
</app-modal>